__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv

.vscode/
.idea/

.ipynb_checkpoints
*.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep
data/clean_docs.jsonl
data/chunks.jsonl
data/papers_manifest.csv
storage/
*.pdf
*.html

.env
.env.local

*.log
logs/

.DS_Store
Thumbs.db